!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Hockeyband"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"
    :javascript
      $(document).ready(function(){
        $().UItoTop({ easingType: 'easeOutQuart' });
        $("a.various").fancybox();
      });
  %body#top
    / ==============================header=================================
    %header
      #stuck_container
        .container
          .row
            .grid_12
              %h1
                %a{:href => "index.html"}
                  %img{:alt => "Your Happy Family", :src => asset_path("/images/logo.png")}/
              .menu_block
                %nav.horizontal-nav.full-width.horizontalNav-notprocessed
                  %ul.sf-menu
                    %li= link_to "Главная", root_path
                    %li= link_to "Пользователи", users_path
                    -if current_user
                      %li= link_to current_user.email, "#"
                      %li= link_to "Выйти", destroy_user_session_path, method: :delete
                    -else
                      %li= link_to "Войти", new_user_session_path
                .clear
              .clear
            .clear
    / ==============================Content=================================
    .content
      .container
        .row
          .grid_12
            = yield
    /
      \==============================
      footer
      \=================================
    %footer
      .container
        .row
          .grid_12
            .f_top
              .fright
                .title Follow Us
                sytasertya aset aplicaboes kerasaer
              .socials
                %a.fa.fa-twitter{:href => "#"}
                %a.fa.fa-facebook{:href => "#"}
                %a.fa.fa-google-plus{:href => "#"}
                %a.fa.fa-rss{:href => "#"}
              %ul.f_menu
                %li
                  %a{:href => "index.html"} About us
                %li.current
                  %a{:href => "index-1.html"} News & Events
                %li
                  %a{:href => "index-2.html"} Players
                %li
                  %a{:href => "index-3.html"} Blog
                %li
                  %a{:href => "index-4.html"} Contacts
            .copy
              \©
              %span#copyright-year
              %strong •
              %a{:href => "index-5.html"} Privacy Policy